@charset "ITF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}

body{
    
}

header{
    text-align: center;
    padding: 20px;
}

h2{
    font-weight: bolder;
    text-align: center;
}

table{
    border-collapse: collapse;
    margin: 20px;
    box-shadow: 1px 1px 5px #0000005b;
}

td, th{
    border: 1px solid black;
    background-color: white;
}

th{
    background-color: lightgray;
    padding: 10px;
}

td{
    padding: 8px;
    
}

td:hover{
    background-color: lightgray;
    transition: 0.5s;
}