@charset "UTF-8";

@media (min-width: 769px) {

/* Area de corpo */
    
body{
    overflow: scroll;
}

/* Area do header */

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header > #logo{
    width: 25vw;
    margin-left: 10px;
    padding: 20px;
}

/* Ocultando Menu Hamburguer */
header > nav#nav-mobile{
    display: none;
}
/*--------------------------*/

header > nav#nav-other-pages, ul{
    display: flex;
    padding: 10px;
}

header > nav#nav-other-pages > a {
    margin-left: 10px;
}


/* Area do Main */

/* Reexibindo as areas */
main > section#secao2{
    display: grid;
    margin-top: 3px;
}

div > h2:nth-child(2){
    display: block;
}

main nav#recomendações{
    display: block;
}

/*--------------------*/

main > section#secao1{
    grid-column: 1;
    
}

main > section#secao2{
    grid-column: 1;
}

.titulo {
    display: grid;
    height: 50px;
}

div.titulo > h2:nth-child(1){
    grid-column: 1;
    grid-row: 1;
}

div.titulo > h2:nth-child(2){
    grid-column: 2;
    grid-row: 1;
}


main > section > div.area-foto{
    display: grid;
    justify-content: space-around;
}

main > section > div.area-foto > div.foto:nth-child(2n){
    grid-column: 2;
}













}
