@charset "UTF-8";
body {
    background-color: lightsalmon;
}
h1 {
    color: rgb(135, 84, 11);
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: #0000008e;
    font-size: 2.5em;
}
h2 {
    color: #7d2d14;
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: black;
    font-size: 2em;
}
#p1 {
    text-align: center;
    color: #b41794;
    text-decoration: underline;
    text-decoration-color: #b41794; 
}
.teste {
    background-color: antiquewhite;
    border-radius: 20px;
    text-align: center;
    width: 400px;
    height: 40px;
}
#teste {
    background-color: antiquewhite;
    border-radius: 20px;
    text-align: center;
    width: 250px;
    height: 40px;
}